@font-face {
  font-family: "iconfont"; /* Project id 3911180 */
  src: url('iconfont.woff?t=1690465361602') format('woff'),
       url('iconfont.ttf?t=1690465361602') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 23px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel-full-screen:before {
  content: "\e688";
}

.icon-sousuo:before {
  content: "\e8b9";
}

.icon-zhongyingwenqiehuan:before {
  content: "\e626";
}

.icon-clothes-full:before {
  content: "\e8c7";
}

.icon-tongzhi:before {
  content: "\e640";
}

.icon-contentright:before {
  content: "\e67a";
}

.icon-quanping:before {
  content: "\e615";
}

.icon-bofang3:before {
  content: "\e6af";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-weibiaoti--:before {
  content: "\e60e";
}

.icon-shangyishou:before {
  content: "\e63c";
}

.icon-xiayishou:before {
  content: "\e63e";
}

.icon-zanting:before {
  content: "\e632";
}

