.elFormContainer {
  .formContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    .el-form-item {
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .el-form-item--default {
      margin-bottom: 0;
    }
    .el-date-editor {
      width: 100%;
    }
    .el-select {
      width: 100%;
    }
    .operate {
      grid-column: -2;
      .el-form-item__content {
        justify-content: flex-end;
      }
    }
  }
  .el-form--inline {
    .el-form-item {
      margin-right: 0;
    }
  }
}
